
# Ignore dataset files (DICOM, NIfTI, large images)
*.nii
*.nii.gz
*.dcm
*.mha
*.mhd
*.tiff
*.tif

# Ignore system-specific files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore Streamlit & Web App Cache
.streamlit/
