# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore dataset files (DICOM, NIfTI, large images)
*.nii
*.nii.gz
*.dcm
*.mha
*.mhd
*.tiff
*.tif

# Ignore large model weights & checkpoints
*.pth
*.h5
*.ckpt

# Ignore system-specific files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore Streamlit & Web App Cache
.streamlit/
